<h1>Hello, world!</h1>
<h2>My name is {{ t('common:name') }}</h2>
<hr/>
<p>Let's switch languages:</p>
<ul>
  <li>
    <a href="/?lng=en">English</a>
  </li>
  <li>
    <a href="/?lng=cy">Welsh</a>
  </li>
</ul>